<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/cd44fb74-5f32-4fb9-b819-b8759603a7a4/resourceGroups/Stereo-App-RG/providers/Microsoft.Web/sites/Stereo-App</ResourceId>
    <ResourceGroup>Stereo-App-RG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://stereo-app.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://stereo-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$Stereo-App</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>