@model List<StereoApp.Models.Amplifier>  

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Image
        </th>
    </tr>
@{
    foreach (Amplifier amp in Model)
    {
        <tr>
            <td>
                @amp.Name
            </td>
            <td>
                @amp.Price
            </td>
            <td>
                <img src="@Url.Action("GetImage", "Home", new {id = "ampImage"})" />
            </td>
        </tr>
    }
}
</table>
