@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2> Honest Venu's Stereo Store</h2>
<p>Welcome to the stereo store. Use the menu above to see the products and select
    something you want.</p>
<br />
<br />
<p>We have CD Players, stereo amplifiers and a whole host of speakers (subwoofers included!).
    Here you can build your dream system, the complete stereo system, to play your
    favourite music at home.</p>
<br />
<br />
<p>Welcome and thanks for visiting.</p>
